.certs{
    border: 5px solid #555;
    height: 20%;
    width: 65%;
    font-size: 30px;
}
.certs p{
    overflow: hidden;
    white-space: nowrap;
}

.certs ul{
    align-content: left;
    font-size: 18px;
}
