.contactMe {
    background-color: white;
}
.contactMe h1{
    font-size: 32px;
}

.contactMe td{
    background-color: antiquewhite;
    padding-left: 40px; 
    padding-right: 40px;
}
.contactMe img{
    
    align-items: center;
}