
  header {
    background-color: #000;
    /* margin-left: 10px; */
    border-spacing: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
  }

  .MenuContents {
    /* align-items: center; */
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: 'Barlow Condensed', sans-serif, cursive;
    overflow: hidden;
    white-space: nowrap;
}

